.l-header {
  height: 13rem;

  background-color: var(--gray-200);
  border-bottom: 2px solid var(--gray-50);

  .container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
  }

  nav {
    width: 100%;
    max-width: 38rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .more-link {
    display: flex;
    align-items: center;
    gap: 16px;
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    
    color: var(--gray-800);
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 3.2rem;
  }

  .tagline {
    padding: 8px 16px;

    position: absolute;
    bottom: -16px;
    left: 24px;
    z-index: 999;

    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: -0.13px;

    color: var(--red-500);
    background-color: var(--white);

    border-radius: 999px;

    img {
      max-width: 20px;
    }
  }

  @media (max-width: 1024px) {
    .tagline {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: 768px) {
    & {
      height: 11rem;
    }

    nav {
      max-width: 30rem;
    }
  }

  @media (max-width: 425px) {
    nav {
      justify-content: flex-end;
    }

    .nav-list {
      display: none;
    }
  }
}